In [4]:
import pandas as pd
import requests

In [5]:
url = "https://worldpopulationreview.com/country-rankings/facebook-users-by-country"
response = requests.get(url)

In [6]:
tables = pd.read_html(url)

In [7]:
tables[0]

                          Country  Facebook Users (2019)  Population 2020
0                           India            251000000.0       1380004385
1                   United States            240000000.0        331002651
2                          Brazil            139000000.0        212559417
3                       Indonesia            136960000.0        273523615
4                          Mexico             78000000.0        128932753
5                     Philippines             71760000.0        109581078
6                         Vietnam             66720000.0         97338579
7                        Thailand             46000000.0         69799978
8                  United Kingdom             44000000.0         67886011
9                          Turkey             44000000.0         84339067
10                          Egypt             42400000.0        102334404
11                           Iran             40000000.0         83992949
12                       Pakistan             37070000.0        220892340
13                     Bangladesh             33713000.0        164689383
14                         France             33000000.0         65273511
15                        Germany             31000000.0         83783942
16                      Argentina             30000000.0         45195774
17                          Italy             30000000.0         60461826
18                       Colombia             29000000.0         50882891
19                          Japan             28000000.0        126476461
20                        Nigeria             27120000.0        206139589
21                       Malaysia             25520000.0         32365999
22                   Saudi Arabia             23720000.0         34813871
23                         Canada             23000000.0         37742154
24                          Spain             23000000.0         46754778
25                        Myanmar             22200000.0         54409800
26                    South Korea             21836000.0         51269185
27                   South Africa             21280000.0         59308690
28                           Iraq             21276000.0         40222493
29                           Peru             20000000.0         32971854
..                            ...                    ...              ...
198         Saint Kitts And Nevis                35000.0            53199
199                 Faroe Islands                33000.0            48863
200                  Sint Maarten                31000.0            42876
201                      Kiribati                30000.0           119449
202                Western Sahara                27000.0           597339
203      Turks And Caicos Islands                25000.0            38717
204                     Gibraltar                23000.0            33691
205                American Samoa                22000.0            55191
206  United States Virgin Islands                22000.0           104425
207                       Eritrea                21900.0          3546421
208                    Micronesia                21000.0           115023
209              Marshall Islands                20000.0            59190
210                  Saint Martin                15000.0            38666
211                 Liechtenstein                14000.0            38128
212                   North Korea                14000.0         25778816
213                        Monaco                13000.0            39242
214        British Virgin Islands                12000.0            30231
215                      Anguilla                 9000.0            15003
216                  Cook Islands                 8600.0            17564
217                    San Marino                 7900.0            33931
218                         Palau                 5800.0            18094
219                         Nauru                 3400.0            10824
220             Wallis And Futuna                 3400.0            11239
221              Falkland Islands                 3100.0             3480
222                    Montserrat                 2600.0             4992
223                        Tuvalu                 1700.0            11792
224                          Niue                  820.0             1626
225                       Tokelau                  410.0             1357
226                  Vatican City                   20.0              801
227                          Cuba                    NaN         11326616

[228 rows x 3 columns]

In [8]:
df = tables[0]

In [9]:
df.dropna()

                          Country  Facebook Users (2019)  Population 2020
0                           India            251000000.0       1380004385
1                   United States            240000000.0        331002651
2                          Brazil            139000000.0        212559417
3                       Indonesia            136960000.0        273523615
4                          Mexico             78000000.0        128932753
5                     Philippines             71760000.0        109581078
6                         Vietnam             66720000.0         97338579
7                        Thailand             46000000.0         69799978
8                  United Kingdom             44000000.0         67886011
9                          Turkey             44000000.0         84339067
10                          Egypt             42400000.0        102334404
11                           Iran             40000000.0         83992949
12                       Pakistan             37070000.0        220892340
13                     Bangladesh             33713000.0        164689383
14                         France             33000000.0         65273511
15                        Germany             31000000.0         83783942
16                      Argentina             30000000.0         45195774
17                          Italy             30000000.0         60461826
18                       Colombia             29000000.0         50882891
19                          Japan             28000000.0        126476461
20                        Nigeria             27120000.0        206139589
21                       Malaysia             25520000.0         32365999
22                   Saudi Arabia             23720000.0         34813871
23                         Canada             23000000.0         37742154
24                          Spain             23000000.0         46754778
25                        Myanmar             22200000.0         54409800
26                    South Korea             21836000.0         51269185
27                   South Africa             21280000.0         59308690
28                           Iraq             21276000.0         40222493
29                           Peru             20000000.0         32971854
..                            ...                    ...              ...
197      Northern Mariana Islands                36000.0            57559
198         Saint Kitts And Nevis                35000.0            53199
199                 Faroe Islands                33000.0            48863
200                  Sint Maarten                31000.0            42876
201                      Kiribati                30000.0           119449
202                Western Sahara                27000.0           597339
203      Turks And Caicos Islands                25000.0            38717
204                     Gibraltar                23000.0            33691
205                American Samoa                22000.0            55191
206  United States Virgin Islands                22000.0           104425
207                       Eritrea                21900.0          3546421
208                    Micronesia                21000.0           115023
209              Marshall Islands                20000.0            59190
210                  Saint Martin                15000.0            38666
211                 Liechtenstein                14000.0            38128
212                   North Korea                14000.0         25778816
213                        Monaco                13000.0            39242
214        British Virgin Islands                12000.0            30231
215                      Anguilla                 9000.0            15003
216                  Cook Islands                 8600.0            17564
217                    San Marino                 7900.0            33931
218                         Palau                 5800.0            18094
219                         Nauru                 3400.0            10824
220             Wallis And Futuna                 3400.0            11239
221              Falkland Islands                 3100.0             3480
222                    Montserrat                 2600.0             4992
223                        Tuvalu                 1700.0            11792
224                          Niue                  820.0             1626
225                       Tokelau                  410.0             1357
226                  Vatican City                   20.0              801

[227 rows x 3 columns]

In [10]:
df['Facebook Users'] = df['Facebook Users (2019)'] / df['Population 2020']

In [11]:
df

,Country,Facebook Users (2019),Population 2020,Facebook Users
0,India,251000000.0,1380004385,0.181883
1,United States,240000000.0,331002651,0.725070
2,Brazil,139000000.0,212559417,0.653935
3,Indonesia,136960000.0,273523615,0.500725
4,Mexico,78000000.0,128932753,0.604967
5,Philippines,71760000.0,109581078,0.654858
6,Vietnam,66720000.0,97338579,0.685443
7,Thailand,46000000.0,69799978,0.659026
8,United Kingdom,44000000.0,67886011,0.648145
9,Turkey,44000000.0,84339067,0.521704
10,Egypt,42400000.0,102334404,0.414328
11,Iran,40000000.0,83992949,0.476230
12,Pakistan,37070000.0,220892340,0.167819
13,Bangladesh,33713000.0,164689383,0.204707
14,France,33000000.0,65273511,0.505565
15,Germany,31000000.0,83783942,0.369999
16,Argentina,30000000.0,45195774,0.663779
17,Italy,30000000.0,60461826,0.496181
18,Colombia,29000000.0,50882891,0.569936
19,Japan,28000000.0,126476461,0.221385
20,Nigeria,27120000.0,206139589,0.131561
21,Malaysia,25520000.0,32365999,0.788482
22,Saudi Arabia,23720000.0,34813871,0.681338
23,Canada,23000000.0,37742154,0.609398
24,Spain,23000000.0,46754778,0.491928
25,Myanmar,22200000.0,54409800,0.408015
26,South Korea,21836000.0,51269185,0.425909
27,South Africa,21280000.0,59308690,0.358801
28,Iraq,21276000.0,40222493,0.528958
29,Peru,20000000.0,32971854,0.606578
...,...,...,...,...
198,Saint Kitts And Nevis,35000.0,53199,0.657907
199,Faroe Islands,33000.0,48863,0.675358
200,Sint Maarten,31000.0,42876,0.723015
201,Kiribati,30000.0,119449,0.251153
202,Western Sahara,27000.0,597339,0.045200
203,Turks And Caicos Islands,25000.0,38717,0.645711
204,Gibraltar,23000.0,33691,0.682675
205,American Samoa,22000.0,55191,0.398616
206,United States Virgin Islands,22000.0,104425,0.210678
207,Eritrea,21900.0,3546421,0.006175
208,Micronesia,21000.0,115023,0.182572
209,Marshall Islands,20000.0,59190,0.337895
210,Saint Martin,15000.0,38666,0.387938
211,Liechtenstein,14000.0,38128,0.367184
212,North Korea,14000.0,25778816,0.000543
213,Monaco,13000.0,39242,0.331278
214,British Virgin Islands,12000.0,30231,0.396944
215,Anguilla,9000.0,15003,0.599880
216,Cook Islands,8600.0,17564,0.489638
217,San Marino,7900.0,33931,0.232825
218,Palau,5800.0,18094,0.320548
219,Nauru,3400.0,10824,0.314117
220,Wallis And Futuna,3400.0,11239,0.302518
221,Falkland Islands,3100.0,3480,0.890805
222,Montserrat,2600.0,4992,0.520833
223,Tuvalu,1700.0,11792,0.144166
224,Niue,820.0,1626,0.504305
225,Tokelau,410.0,1357,0.302137
226,Vatican City,20.0,801,0.024969
227,Cuba,NaN,11326616,NaN

In [12]:
df2 = df.dropna()

In [13]:
df2.head()

         Country  Facebook Users (2019)  Population 2020  Facebook Users
0          India            251000000.0       1380004385        0.181883
1  United States            240000000.0        331002651        0.725070
2         Brazil            139000000.0        212559417        0.653935
3      Indonesia            136960000.0        273523615        0.500725
4         Mexico             78000000.0        128932753        0.604967